-- CreateEnum
CREATE TYPE "Role" AS ENUM ('WAREHOUSE', 'WAREHOUSE_SUPERVISOR', 'SALES', 'PROCUREMENT', 'ADMIN');

-- CreateEnum
CREATE TYPE "DocumentStatus" AS ENUM ('PENDING', 'INSPECTING', 'COMPLETED', 'SHIPPED');

-- CreateEnum
CREATE TYPE "AcceptMethod" AS ENUM ('BARCODE', 'MANUAL');

-- CreateEnum
CREATE TYPE "DocumentSource" AS ENUM ('EXCEL', 'API', 'DB_SYNC');

-- CreateEnum
CREATE TYPE "DocumentFlow" AS ENUM ('OUT', 'IN');

-- CreateEnum
CREATE TYPE "CommentTargetType" AS ENUM ('DOCUMENT', 'PRODUCT', 'CHANNEL', 'RETURN_SHIPMENT');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocumentTypeOption" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "flow" "DocumentFlow" NOT NULL DEFAULT 'OUT',
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DocumentTypeOption_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Channel" (
    "id" TEXT NOT NULL,
    "channelCode" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "address" TEXT,
    "lingyueCode" TEXT,
    "departmentId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Channel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "productCode" TEXT NOT NULL,
    "barcode" TEXT,
    "name" TEXT NOT NULL,
    "brand" TEXT,
    "storageLocation" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BrandOption" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BrandOption_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CompanyPrintHeader" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "companyName" TEXT NOT NULL,
    "companyPhone" TEXT,
    "companyAddress" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CompanyPrintHeader_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InspectionDoc" (
    "id" TEXT NOT NULL,
    "documentNumber" TEXT NOT NULL,
    "documentType" TEXT NOT NULL,
    "flow" "DocumentFlow" NOT NULL DEFAULT 'OUT',
    "documentDate" TIMESTAMP(3),
    "lingyueCode" TEXT,
    "channelCode" TEXT,
    "counterpartyName" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "departmentId" TEXT NOT NULL,
    "creatorName" TEXT,
    "inspectorId" TEXT,
    "pickerId" TEXT,
    "logisticsNo" TEXT,
    "packageCount" INTEGER,
    "packageCountA" INTEGER,
    "packageCountC" INTEGER,
    "packageSize" TEXT,
    "shippedAt" TIMESTAMP(3),
    "stockedAt" TIMESTAMP(3),
    "stockedById" TEXT,
    "status" "DocumentStatus" NOT NULL DEFAULT 'PENDING',
    "acceptMethod" "AcceptMethod" NOT NULL DEFAULT 'MANUAL',
    "lockedByUserId" TEXT,
    "lockedAt" TIMESTAMP(3),
    "source" "DocumentSource" NOT NULL DEFAULT 'EXCEL',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InspectionDoc_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DocumentLine" (
    "id" TEXT NOT NULL,
    "documentId" TEXT NOT NULL,
    "productCode" TEXT NOT NULL,
    "barcode" TEXT,
    "productName" TEXT NOT NULL,
    "docQuantity" DOUBLE PRECISION NOT NULL,
    "inspectQuantity" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "remark" TEXT,
    "storageLocation" TEXT,

    CONSTRAINT "DocumentLine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReturnShipment" (
    "id" TEXT NOT NULL,
    "logisticsNo" TEXT NOT NULL,
    "packageName" TEXT NOT NULL,
    "pieceCount" INTEGER NOT NULL,
    "departmentId" TEXT NOT NULL,
    "recipientName" TEXT NOT NULL,
    "receivedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ReturnShipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImportLog" (
    "id" TEXT NOT NULL,
    "filename" TEXT,
    "source" TEXT NOT NULL,
    "orderNo" TEXT,
    "successCount" INTEGER NOT NULL DEFAULT 0,
    "errorCount" INTEGER NOT NULL DEFAULT 0,
    "message" TEXT,
    "uploader" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ImportLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SyncConfig" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SyncConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Comment" (
    "id" TEXT NOT NULL,
    "targetType" "CommentTargetType" NOT NULL,
    "targetId" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Comment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "DocumentTypeOption_name_key" ON "DocumentTypeOption"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Department_name_key" ON "Department"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Channel_channelCode_key" ON "Channel"("channelCode");

-- CreateIndex
CREATE UNIQUE INDEX "Product_productCode_key" ON "Product"("productCode");

-- CreateIndex
CREATE UNIQUE INDEX "BrandOption_name_key" ON "BrandOption"("name");

-- CreateIndex
CREATE INDEX "InspectionDoc_status_updatedAt_idx" ON "InspectionDoc"("status", "updatedAt");

-- CreateIndex
CREATE INDEX "InspectionDoc_status_shippedAt_idx" ON "InspectionDoc"("status", "shippedAt");

-- CreateIndex
CREATE INDEX "InspectionDoc_departmentId_status_updatedAt_idx" ON "InspectionDoc"("departmentId", "status", "updatedAt");

-- CreateIndex
CREATE INDEX "InspectionDoc_departmentId_status_shippedAt_idx" ON "InspectionDoc"("departmentId", "status", "shippedAt");

-- CreateIndex
CREATE INDEX "InspectionDoc_flow_status_updatedAt_idx" ON "InspectionDoc"("flow", "status", "updatedAt");

-- CreateIndex
CREATE INDEX "InspectionDoc_logisticsNo_idx" ON "InspectionDoc"("logisticsNo");

-- CreateIndex
CREATE INDEX "InspectionDoc_documentDate_idx" ON "InspectionDoc"("documentDate");

-- CreateIndex
CREATE INDEX "InspectionDoc_flow_stockedAt_idx" ON "InspectionDoc"("flow", "stockedAt");

-- CreateIndex
CREATE UNIQUE INDEX "InspectionDoc_documentNumber_channelCode_documentType_key" ON "InspectionDoc"("documentNumber", "channelCode", "documentType");

-- CreateIndex
CREATE INDEX "DocumentLine_documentId_idx" ON "DocumentLine"("documentId");

-- CreateIndex
CREATE INDEX "DocumentLine_productCode_idx" ON "DocumentLine"("productCode");

-- CreateIndex
CREATE INDEX "DocumentLine_barcode_idx" ON "DocumentLine"("barcode");

-- CreateIndex
CREATE INDEX "DocumentLine_documentId_productCode_idx" ON "DocumentLine"("documentId", "productCode");

-- CreateIndex
CREATE UNIQUE INDEX "SyncConfig_key_key" ON "SyncConfig"("key");

-- CreateIndex
CREATE INDEX "Comment_targetType_targetId_createdAt_idx" ON "Comment"("targetType", "targetId", "createdAt");

-- CreateIndex
CREATE INDEX "Comment_authorId_createdAt_idx" ON "Comment"("authorId", "createdAt");

-- CreateIndex
CREATE INDEX "Comment_deletedAt_idx" ON "Comment"("deletedAt");

-- AddForeignKey
ALTER TABLE "Channel" ADD CONSTRAINT "Channel_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionDoc" ADD CONSTRAINT "InspectionDoc_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionDoc" ADD CONSTRAINT "InspectionDoc_inspectorId_fkey" FOREIGN KEY ("inspectorId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionDoc" ADD CONSTRAINT "InspectionDoc_pickerId_fkey" FOREIGN KEY ("pickerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionDoc" ADD CONSTRAINT "InspectionDoc_stockedById_fkey" FOREIGN KEY ("stockedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InspectionDoc" ADD CONSTRAINT "InspectionDoc_lockedByUserId_fkey" FOREIGN KEY ("lockedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DocumentLine" ADD CONSTRAINT "DocumentLine_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "InspectionDoc"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReturnShipment" ADD CONSTRAINT "ReturnShipment_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Comment" ADD CONSTRAINT "Comment_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

